{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load rest_framework %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title> Home page </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <header> {{user.first_name}} {{user.last_name}} </header>
    <div>
        {% csrf_token %} 
        <form action="{% url 'uploadFile' %}"  method="POST">
            {% csrf_token %}
              <ul>
                {% for document in documents %}
                <li> <a href='{{ document.url}}' target="_blank"> {{ document.name }}</a> </li>
                {% endfor %}
              </ul>
              <button type="submit" class="btn btn-success">
                  Upload file
                </button>
        
            
          </form>
          <form action="{% url 'logout' %}",   method="POST">
            {% csrf_token %} 
            <button type="submit" class="btn btn-success">
                Logout
            </button>
        </form>
        
    </div>

    <footer>
        {{user.email}} 
    </footer>
    
</body>
</html>